<h1>Editar Cliente</h1>

<%= render 'form', cliente: @cliente %>

<%= link_to 'Exibir cliente', @cliente, :class => "btn btn-link" %> |
<%= link_to 'Voltar', clientes_path, :class => "btn btn-link" %>
