<%= link_to "Clientes", clientes_path, :class => 'navbar-brand' %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">
      <li>
        <%= link_to 'Novo Cliente', new_cliente_path, :class => 'nav-link' %>
      </li>
    </ul>
</div>